---
export const prerender = false; // Not needed in 'server' mode

import { getEntry, render } from "astro:content";

const { id } = Astro.params;

if (id === undefined) {
    return Astro.redirect("/404");
}

const post = await getEntry("blog", id);

if (post === undefined) {
    return Astro.redirect("/404");
}

const { Content } = await render(post);
---
<h1>{post.data.title}</h1>
<Content />