---
import Layout from "../layouts/layout.astro";

import { getCollection } from 'astro:content';
import Card from "../components/ui/card.astro";

//const posts = await getCollection('docs');
---

<Layout title="Docs" description="The documentation index, which contains the getting started information.">
    <!--<ul>
        {posts.map(post => (
                <li><a href={`/docs/${post.id}`}>{post.data.title}</a></li>
        ))}
    </ul>-->

    <div class="CardLayout">
        <!--<Card color="oklch(0.33 0.04 211)"/>-->
    </div>
</Layout>

<style lang="scss">
    .CardLayout {

    }
</style>