---
import Discord from '../../public/assets/icons/discord.svg';
import Kofi from "../../public/assets/icons/kofi.svg";
---

<header>
    <div class="left-grid">
        <a href="https://discord.com/servers/badbones-s-live-chat-182615261403283459"><Discord fill="currentColor"/></a>

        <a href="https://ko-fi.com/ryderbelserion"><Kofi fill="currentColor"/></a>
    </div>

    <div class="center-grid">
        <a href="/" aria-label="home">Home</a>
        <a href="/docs" aria-label="docs">Docs</>
        <a href="https://modrinth.com/organization/crazycrews" aria-label="builds">Builds</a>
    </div>

    <div class="right-grid">

    </div>
</header>

<style lang="scss">
    @use "../styles/variables.scss" as *;

    header {
        box-shadow: 0.0rem 0.1rem rgba(255, 255, 255, 0.6);

        display: flex;

        height: 2rem;

        justify-content: center;
        align-items: center;

        padding: $spacing;

        .center-grid {
            a {
                padding: 10px;
            }

            font-size: 1.2rem;

            display: flex;
            justify-content: center;
            flex: 2;
        }

        .left-grid {
            flex: 1;

            display: flex;
            gap: $spacing;

            svg {
              display: flex;

              height: 26px;
              width: 26px;
            }

            svg:hover {
              fill: $primary;
            }
        }

        .right-grid {
            flex: 1;
        }
    }
</style>